<%= flash[:error] %>
  <div class="center-block">
    <div class="form-admin signin text-center">
      <h4 class="mb-4 font-weight-normal">Adomin sign in</h4>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="mb-4">
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
        </div>
        <div class="mb-4">
          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password" %><br>
            <%= f.submit "Log in", class: "btn btn-outline-secondary mt-3" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
