<div class="container">
  <div class="row align-items-center">
    <div class="col-sm col-md-4 mx-auto">
      <div class="font-weight-bold">
        <%= form_with model: @genre, url: admin_genres_path, class: "row d-flex align-items-center" do |f| %>
          <%= f.text_field :name, placeholder: "ジャンル名", class: "mr-3" %>
          <%= f.submit '新規登録', class: "btn btn-outline-secondary ml-2 btn-sm" %>
        <% end %>
      </div>
    </div>
    <div class="col-sm col-md-5 mx-auto mt-5">
      <table class="table table-borderless">
        <% @genres.each do |genre| %>
          <tr>
            <td class="h6"><%= genre.name %></td>
            <td>
            <%= link_to "編集する", edit_admin_genre_path(genre), class: "btn btn-outline-secondary btn-sm" %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
<%= paginate @genres %>