<div class='container'>
　<div class="row">
    <% @articles.each do |article| %>
      <div class='col-md-4 mx-auto'>
        <div style="padding: 15px; background: #ffffff ">
          <div class="text-center">
            <%= link_to article_path(article.id),style: "color:#464e54;" do %>
              <% if article.image.attached? %>
                <%= image_tag article.image, class: 'img-fluid', style: 'width: 100%; height: 200px; object-fit: cover;' %>
              <% else %>
                <%= image_tag 'no_image.png', class: 'img-fluid', style: 'width: 100%; height: 200px; object-fit: cover;' %>
              <% end %>
            <% end %><br>
          </div>
        </div>
        <p class="small m-0">
          <%= article.title %>
          <%= article.genre.name %><br>
          <p class="small text-danger">
          <%= article.is_deleted ? 'open' : 'private' %></p>
        </p>
      </div>
    <% end %>
  </div>
</div>
<%= paginate @articles %>
