<%= render 'form' %>
<h3>投稿一覧</h3>
<table class="table">
  <thead>
    <tr class="table">
      <th>タイトル</th>
      <th>本文</th>
      <th>Genre</th>
    </tr>
  </thead>
  <tbody class="table">
    <% @articles.each do |article| %>
      <tr>
        <td>
          <%= link_to article_path(article.id) do %>
            <%= article.title %>
          <% end %>
        </td>
        <td><%= article.text %> </td>
        <td><%= article.genre.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>