<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2 class="mt-3">New</h2>
      <%= render 'layouts/errors', article: @article %>
      <%= render 'form', article: Article.new %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h3>投稿一覧</h3>
      <table class="table">
        <thead>
          <tr>
            <th>create</th>
            <th>Title</th>
            <th>Memo</th>
            <th>Genre</th>
            <th>Review</th>
          </tr>
        </thead>
        <tbody class="table">
          <% @articles.each do |article| %>
            <tr>
              <td><%= article.created_at.strftime('%Y/%m/%d') %></td>
              <td><%= link_to article_path(article.id) do %>
                  <%= article.title %>
                  <% end %>
              </td>
              <td><%= article.text %> </td>
              <td><%= article.genre.name %></td>
              <td><%= render "public/articles/static_rate", article: article %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


