<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2 class="mt-3">New</h2>
      <%#= render 'layouts/errors', article: @article %>
      <%= render 'form', article: Article.new %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h3>投稿一覧</h3>
      <p>
        <%= link_to '新しい順', articles_path(latest: "true") %>
        |<%= link_to '古い順', articles_path(old: "true") %>
        |<%= link_to '評価の高い順', articles_path(star_count: "true") %>
      </p>
      <div class="search-form">
        <%= form_with url: search_path, method: :get, local: true do |f| %>
          <%= f.collection_select( :genre_id, Genre.all, :id, :name ) %>
          <%= f.submit %>
        <% end %>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>create</th>
            <th>UserName</th>
            <th>Title</th>
            <th>Memo</th>
            <th>Genre</th>
            <th>Review</th>
          </tr>
        </thead>
        <tbody class="table">
          <% @articles.each do |article| %>
            <tr>
              <td><%= article.created_at.strftime('%Y/%m/%d') %></td>
              <td><%= article.user.name %></td>
              <td><%= link_to article_path(article.id) do %>
                  <%= article.title %>
                  <% end %>
              </td>
              <td><%= article.text %> </td>
              <td><%= article.genre.name %></td>
              <td><%= render "public/articles/static_rate", article: article %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


