<div class="center-block">
  <div class="form text-center">
    <h4 class="mb-4 font-weight-normal mt-5"><%= @user.name %>さんのEdit page</h4>
      <%= form_with model: @user, url: admin_user_path(@user.id), method: :patch do |f| %>
      <div class="mb-4">
        <div class="field">
          <p>user id</p>
          <%= @user.id %>
        </div>
      </div>
       <div class="mb-4">
        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"name"%>
        </div>
      </div>
      <div class="mb-4">
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, id:"inputEmail", placeholder:"address" %>
        </div>
      </div>
      <div class="mb-4">
        <div class="field-auto">
          <%= f.submit "変更を保存", class: "btn btn-outline-secondary btn-sm " %>
        </div>
      </div>
      <% end %>
  </div>
</div>