<div class="container">
  <div class="row">
    <h4 class="ml-5 mt-4 mb-2 text-dark">members list
    <i class="fas fa-users"></i>
    </h4>
  </div>
  <div class="row">
    <table class="table table-light table-bordered table-striped">
      <thead>
        <tr class="table-success ">
          <th>User.Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>Created.at</th>
          <th>退会</th>
        </tr>
      </thead>
      <tbody class="table-md h7">
        <% @users.each do |user| %>
        <tr>
          <td class="align-middle"><%= user.id %></td>
          <td class="align-middle">
            <%= link_to admin_user_path(user.id),style: "color:#464e54;" do %>
              <%= user.name %>
            <% end %>
          </td>
          <td class="align-middle"><%= user.email %></td>
          <td class="align-middle"><%= user.created_at.strftime('%Y/%m/%d') %></td>
            <td>
              <% if user.is_deleted == false %> <!--is_deletedがfalseなので退会していないことになる-->
                <strong class="text-black-50">有効</storong>
              <% else %>
                <strong class="text-primary">退会済みユーザー</storong>
            <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= paginate @users %>