<%= flash[:error] %>
<div class="container">
  <div class="row">
    <div class="col">
      <h5 class="text-center mt-3">Please sign in</h5>
    </div>
  </div>
  <%= form_for(resource, as: resource_name, url: user_session_path()) do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>
    <div class="row">
      <div class="col">
        <div class="field text-center">
          <%= f.label :email %><br />
          <%= f.text_field :email, autofocus: true, autocomplete: "email", placeholder:"email" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="field text-center">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="actions text-center mt-3">
          <%= f.submit 'Log in', class: "btn btn-outline-secondary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
