<div class="center-block">
  <div class="form text-center">
    <h4 class="mb-4 font-weight-normal mt-5">Edit page</h4>
    <%= form_with model: @user, url: users_update_path(@user.id) do |f| %>
        <div class="mb-4">
          <div class="field">
            <%= f.label :name %><br />
            <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"name"%>
          </div>
        </div>
        <div class="mb-4">
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, id:"inputEmail", placeholder:"address" %>
          </div>
        </div>
        <div class="mb-4">
          <div class="field-auto">
            <%= f.submit "ä¿å­˜", class: "btn btn-outline-secondary", style: "width:70px" %>
          </div>
        </div>
    <% end %>
  </div>
</div>
