<div class="container">
  <div class="row">
    <div class="col-md3">
      <h4><%= @user.name %>さんの会員詳細</h4>
    </div>
    <div class='col-md-8 offset-md-1'>
      <table class="table table-borderless">
        <tr>
          <td>会員ID</td>
          <td><%= @user.id %></td>
        </tr>
        <tr>
          <td>名前</td>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <td>紹介文</td>
          <td><%= @user.introduction %></td>
        </tr>
      </table>
      <%= link_to "編集する", users_edit_path(@user) %>
      <% if user_signed_in? && @user.id == current_user.id %>
      	<%= link_to "退会", users_check_path %>
      <% end %>
    </div>
  </div>
</div>