<header class="shadow-sm ">
  <nav class="navbar navbar-expand-lg navbar-light">
    <!--navbarナビゲーションバーの表示-->
    <!--navbar-expand-[ブレークポイント]指定した画面幅に応じて切り替える-->
    <div class="container">
      <div class="object-fit: cover;">
        <a class="navbar-brand" href="/"><%= image_tag'logo.png', size: "250x100" %></a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
          <div class="mx-auto" style="width: 200px;">welcome.<%= current_user.name %></div>
          <li class="nav-item ml-5">
            <%= link_to my_page_path(current_user.id), class: "text-dark" do %>
              <i class="far fa-id-card fa-lg"></i>account
            <% end %>
          </li>
          <li class="nav-item ml-5 ">
            <%=  link_to users_top_path(current_user.id), class: "text-dark" do %>
              <i class="far fa-user fa-lg"></i>my page
            <% end %>
          </li>
          <li class="nav-item ml-5">
            <%=  link_to articles_path, class: "text-dark" do %>
              <i class="fas fa-users fa-lg"></i>articles
            <% end %>
          </li>
          <li class="nav-item ml-5">
            <%= link_to favorites_path(current_user.id), class: "text-dark" do %>
              <i class="fas fa-bookmark fa-lg"></i>bookmark
            <% end %>
          </li>
          <li class="nav-item ml-5">
          <%= link_to destroy_user_session_path, method: :delete, class: "text-dark" do %>
            <i class="fas fa-sign-out-alt fa-lg"></i>logout
          <% end %>
          </li>
          <% elsif admin_signed_in? %>
            <li class="nav-item ml-5">
              <%= link_to admin_top_path, class: "text-dark" do %>
                <i class="fas fa-user-circle fa-lg"></i>articles
              <% end %>
            </li>
            <li class="nav-item ml-5">
              <%=  link_to admin_users_path, class: "text-dark" do %>
                <i class="fas fa-id-card fa-lg"></i>users
              <% end %>
            </li>
            <li class="nav-item ml-5">
              <%=  link_to admin_genres_path, class: "text-dark" do %>
                <i class="fas fa-tags fa-lg"></i>genres
              <% end %>
            </li>
            <li class="nav-item ml-5">
              <%= link_to destroy_admin_session_path, method: :delete, class: "text-dark" do %>
                <i class="fas fa-sign-out-alt fa-lg"></i>logout
              <% end %>
            </li>
          <% else %>
            <li class="nav-item ml-5">
              <%= link_to "About", about_path,class: 'text-dark' %>
            </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
